.foodimage{
    height: 200px; 
    width: 250px;
}

.zoom{
    overflow: hidden; /*hide overflow of child element*/
}
.zoom img{
    transition: transform .9s ease; /*speed*/
}
.zoom:hover img{
    transform: scale(1.2);
}
.topmargin{
    margin-top: 50px;
}
.bottommargin{
    margin-bottom: 50px;
}
